@charset "UTF-8";

.header_img {
  width: 100%;
}

.header_img img {
  width: 100%;
  object-fit: cover;
  height:400px ;
}

/* .header_logo h1 a{
  color: #fff;
} */

.header_bak {
  width: 100%;
  height: 1000px;
  display: flex;
}

.bak_left {
  width: 40%;
  margin-top: 150px;
}

.header_msg {
  font-size: 20px;
  width: 80%;
  margin: auto;
  color: #EE82EE;
  margin-top: 50px;
}

.header_msg td {
  font-size: 15px;
  color: #333;
  font-weight: bold;
}

.header_msg img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
  border: #EE82EE 1px solid;
}

.header_msg::after {
  content: "";
  width: 100%;
  height: 400px;
  display: inline-block;
  position: relative;
  border: #333 1px solid;
  top: -380px;
  right: 20px;
  box-shadow: 10px 10px 10px #333;
}

.msg {
  width: 100%;
  background-color: #EEE6E6;
  height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.header_link {
  width: 50%;
  margin: auto;
  border: #333 1px solid;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 20px;
  position: relative;
  top: -300px;
  
}

.header_link a {
  color: #3F98FE;
}

  
.header_link:hover {
  box-shadow:  3px 3px 10px #333;
  opacity: 0.8; 
}

.section_title {
  font-size: 20px;
  text-align: center;
  margin: 30px ;
  display: flex;
  justify-content: center;
}

.section_title h2 span {
  display: block;
  font-size: 15px;
}

.section_title::before {
  content: "";
  background-color: #333;
  width: 30%;
  height: 1px;
  display: inline-block;
  position: relative;
  top: 35px;
  left: -50px;
}

.section_title::after {
  content: "";
  background-color: #333;
  width: 30%;
  height: 1px;
  display: inline-block;
  position: relative;
  top: 35px;
  right: -50px;
}

@media screen and (max-width: 1024px) {
  .bak_reight {
    width: 30%;
  }

  .bak_center {
    width: 0;
    display: none;
  }

  .bak_left {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {

  .bak_left {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .bak_reight {
    width: 0;
    display: none;
  }

  .header_msg {
    text-align: center;
  }

  .header_msg img {
    width: 100%;
    margin: auto;
  }

  .header_msg::after {
    width: 110%;
  }

  

  .food_all {
    display: inline-block;
    width: 100%;
    
  } 

  .content {
    width: 100%;

  }
}


