.top_img {
  text-align: center;
}
.top_img h1 {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0);
  font-size: 126px;
}
.top_img p {
  font-size: 64px;
  font-weight: bold;
  color: rgb(198, 146, 72);
}

.breadcrumb {
  max-width: 90%;
  margin: 40px auto;
}
.breadcrumb ul {
  display: flex;
  margin-bottom: 100px;
}
.breadcrumb li {
  font-size: 20px;
}
.breadcrumb li::after {
  content: ">";
  padding-right: 10px;
  font-size: 20px;
}
.breadcrumb li:last-child::after {
  content: "";
}

.color {
  color: #5B8FAD;
  font-weight: 700;
}